<div id="home">
    <!-- Page Content -->
    <div class="card text-center">
        <div class="card-header">
            Home
        </div>
        <div class="card-body">
            <a role="button" href="/episode_calculator" class="btn btn-primary">Episode Calculator</a>
            <!-- <a role="button" href="/calculator" class="btn btn-secondary">Game Calculator</a> -->
        </div>
        <div class="card-footer text-muted">
            <!-- Reality Garage 2019 -->
        </div>
    </div>


</div>