<div id="home">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" >
                <h1 class="mt-5">Reality Garage File Upload</h1>
                <form method="post" name="form1" action="/api/upload" enctype="multipart/form-data">
                    <div class="form-group jumbotron">
                        <fieldset>
                            <legend>Upload Files</legend>
                            <label for="Fbx">Fbx File</label>
                            <div>
                                <input type="file" name="fbx" style="padding-bottom: 50px;" />
                            </div>

                        </fieldset>
                        <div class="actions">
                            <button class="btn btn-primary" type="submit">Upload</button>
                            <button class="btn btn-danger" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>